In [1]:
# Importações
import pandas as pd

# Pergunta 1: Aplique as quatro formas de join estudadas nos seguintes dataframes:
df1 = pd.DataFrame({'A': [4, 2, 1, 3], 'B': ['a', 'b', 'c', 'd']})
df2 = pd.DataFrame({'A': [2, 3, 5], 'C': [10, 20, 30]})

# Realizando os quatro tipos de join

result_left = pd.merge(df1, df2, on='A', how='left')
result_right = pd.merge(df1, df2, on='A', how='right')
result_inner = pd.merge(df1, df2, on='A', how='inner')
result_outer = pd.merge(df1, df2, on='A', how='outer')

print("\nResultado do Left Join:")
print(result_left)

print("\nResultado do Right Join:")
print(result_right)

print("\nResultado do Inner Join:")
print(result_inner)

print("\nResultado do Outer Join:")
print(result_outer)

Resultado do Left Join:
   A  B     C
0  4  a   NaN
1  2  b  10.0
2  1  c   NaN
3  3  d  20.0

Resultado do Right Join:
   A    B   C
0  2    b  10
1  3    d  20
2  5  NaN  30

Resultado do Inner Join:
   A  B   C
0  2  b  10
1  3  d  20

Resultado do Outer Join:
   A    B     C
0  1    c   NaN
1  2    b  10.0
2  3    d  20.0
3  4    a   NaN
4  5  NaN  30.0

In [ ]:
# Pergunta 2: Ordene a saída do outer join anterior por A e depois pelas colunas (ajustar índices).
result_outer_sorted = result_outer.sort_values(by=['A', 'B', 'C']).reset_index(drop=True)
print("\nResultado do Outer Join Ordenado:")
print(result_outer_sorted)

In [2]:
# Pergunta 3: Concatenar df1 e df2 em formato de linhas e depois colunas (ajustar índices).
result_concat_rows = pd.concat([df1, df2], axis=0).reset_index(drop=True)
result_concat_columns = pd.concat([df1, df2], axis=1).reset_index(drop=True)
print("\nConcatenação por Linhas:")
print(result_concat_rows)
print("\nConcatenação por Colunas:")
print(result_concat_columns)

Concatenação por Linhas:
   A    B     C
0  4    a   NaN
1  2    b   NaN
2  1    c   NaN
3  3    d   NaN
4  2  NaN  10.0
5  3  NaN  20.0
6  5  NaN  30.0

Concatenação por Colunas:
   A  B    A     C
0  4  a  2.0  10.0
1  2  b  3.0  20.0
2  1  c  5.0  30.0
3  3  d  NaN   NaN

In [5]:
# Pergunta 4: Calcule a soma da coluna A por agrupamento da coluna B no df1.
df1.groupby('B').sum().reset_index()

   B  A
0  a  4
1  b  2
2  c  1
3  d  3